config.py
newspaper/
.ipynb_checkpoints
.idea
.DS_Store
__pycache__/config.cpython-36.pyc
body_vectorizer.pickle
model.pickle
model_object.pickle
title_vectorizer.pickle
/test_group.txt
/control_group.txt
